{% load staticfiles %}
<div class="header">
    <a class="logo" href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu">
        {% for link in site_navigation_links %}
            <li class="menu-list">
                <a href="{% url link.path_name %}"
                   class="{% if request.resolver_match.view_name == link.path_name %}
                            menu-link-active
                          {% elif request.resolver_match.view_name == 'products:category' and 'products' in link.path_name %}
                            menu-link-active
                          {% elif request.resolver_match.view_name == 'products:product_details' and 'products' in link.path_name %}
                            menu-link-active
                          {% else %}
                            menu-link
                          {% endif %}">
                    {{ link.name }}
                </a>
            </li>
        {% endfor %}

        {% if request.user.is_superuser %}
            <li class="menu-list">
                <a href="{% url 'admin:index' %}" class="menu-link" style="color: #e53935;">Admin</a>
            </li>
        {% endif %}

        <li class="menu-list">
            {% if request.user.is_authenticated %}
                <a href="{% url 'auth:logout' %}" class="menu-link">Logout</a>
            {% else %}
                <a href="{% url 'auth:login' %}"
                   class="{% if request.resolver_match.view_name == 'auth:login' %}
                            menu-link-active
                          {% else %}
                            menu-link
                          {% endif %}">
                    Login
                </a>
            {% endif %}
        </li>

        {% if request.user.is_authenticated %}
            <li class="menu-list">
                <a href="{% url 'auth:edit' %}"
                   class="{% if request.resolver_match.view_name == link.path_name %}
                            menu-link-active
                          {% else %}
                            menu-link
                          {% endif %}">
                    User({{ request.user }})
                </a>
            </li>
        {% endif %}

        <li class="menu-list search">
            <a href="#" class="menu-link-search">
                <i class="fas fa-search"></i>
            </a>
        </li>
        {% if 'product' in request.path or 'cart' in request.path %}
            <li class="menu-list cart">
                <a href="{% url 'cart:view' %}" >
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-counter">
                        <span id="cart-items-total">{{ cart_info.items_total }}</span> item(s) for
                        <span id="cart-price-total">${{ cart_info.price_total }}</span>
                    </span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
