{% load staticfiles %}
<div class="exclusive-section padding-site">
    <div class="exclusive-content-1">
        <div class="promo-content-text">
            <h4 class="exclusive">Exclusive</h4>
            <h2 class="fishnet-promo">Fishnet Chair</h2>
            <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in
                matt</p>
            <a class="button" href="#">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
        </div>
    </div>
    <div class="exclusive-content-2">
        <div class="exclusive-product" style="background-image: url({% static 'img/exclusive-product-2-sm.jpg' %});">
            <div class="featured-product-hover">
                <div class="featured-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="featured-product-h4">Fishnet Chair</h4>
                <p class="featured-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="exclusive-product" style="background-image: url({% static 'img/exclusive-product-3-sm.jpg' %});">
            <div class="featured-product-hover">
                <div class="featured-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="featured-product-h4">Fishnet Chair</h4>
                <p class="featured-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="exclusive-product" style="background-image: url({% static 'img/exclusive-product-4-sm.jpg' %});">
            <div class="featured-product-hover">
                <div class="featured-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="featured-product-h4">Fishnet Chair</h4>
                <p class="featured-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="exclusive-product" style="background-image: url({% static 'img/exclusive-product-5-sm.jpg' %});">
            <div class="featured-product-hover">
                <div class="featured-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="featured-product-h4">Fishnet Chair</h4>
                <p class="featured-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
    </div>
</div>