{% load staticfiles %}
<div class="mobile-app-section padding-site">
    <div class="slider-text">
        <h4 class="mobile-app">Mobile App</h4>
        <h2 class="fishnet">Find. Follow. Favourite.</h2>
        <p class="slider-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
            powder-coated black </p>
        <div>
            <a class="mobile-app-link" href="#"><img src="{% static 'img/app-store.jpg' %}" alt="app store"></a>
            <a class="mobile-app-link" href="#"><img src="{% static 'img/google-play.jpg' %}" alt="google play"></a>
        </div>
    </div>
</div>