{% load staticfiles %}
<div class="promo-product-section">
    <div class="promo-content-1">
        <div class="promo-content-text">
            <h4 class="exclusive">Exclusive</h4>
            <h2 class="fishnet-promo">Fishnet Chair</h2>
            <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in
                matt</p>
            <a class="button" href="#">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
        </div>
    </div>
    <div class="promo-content-2">
        <div class="promo-content-text">
            <h4 class="exclusive">Exclusive</h4>
            <h2 class="fishnet-promo">Fishnet Chair</h2>
            <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in
                matt</p>
            <a class="button" href="#">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
        </div>
    </div>
</div>
