{% load staticfiles %}
<div class="hot-deal-section padding-site">
    <div class="slider-text">
        <h4 class="hot-deal">HOT DEAL</h4>
        <h2 class="fishnet">Fishnet Chair</h2>
        <p class="slider-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
            powder-coated black </p>
        <a class="button" href="#">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
    </div>
    <div class="pagination">
        <a href="#" class="circle"></a>
        <a href="#" class="circle circle-active"></a>
        <a href="#" class="circle"></a>
    </div>
</div>