{% load staticfiles %}
<div class="trending-product-section padding-site">
    <div class="trending-product-title">
        <h2 class="trending-product-title-h2">Trending Products</h2>
        <a class="link-explore-all" href="{% url 'products:index' %}">Explore All &gt;</a>
    </div>
    <div class="trending-product-box">
        <div class="trending-product" style="background-image: url({% static 'img/trending-product-1.jpg' %});">
            <div class="trending-product-hover">
                <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="trending-product-h4">Fishnet Chair</h4>
                <p class="trending-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="trending-product" style="background-image: url({% static 'img/trending-product-2.jpg' %});">
            <div class="trending-product-hover">
                <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="trending-product-h4">Fishnet Chair</h4>
                <p class="trending-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="trending-product" style="background-image: url({% static 'img/trending-product-3.jpg' %});">
            <div class="trending-product-hover">
                <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="trending-product-h4">Fishnet Chair</h4>
                <p class="trending-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="trending-product" style="background-image: url({% static 'img/trending-product-4.jpg' %});">
            <div class="trending-product-hover">
                <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="trending-product-h4">Fishnet Chair</h4>
                <p class="trending-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="trending-product" style="background-image: url({% static 'img/trending-product-5.jpg' %});">
            <div class="trending-product-hover">
                <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="trending-product-h4">Fishnet Chair</h4>
                <p class="trending-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="trending-product" style="background-image: url({% static 'img/trending-product-6.jpg' %});">
            <div class="trending-product-hover">
                <div class="trending-product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></div>
                <h4 class="trending-product-h4">Fishnet Chair</h4>
                <p class="trending-product-p">Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
    </div>
</div>
