{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <h1 class="hero-title">Edit User Page</h1>
    </div>
{% endblock menu %}

{% block content %}

    <form action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% if user.avatar %}
            <div class="imgcontainer">
                <img src="/media/{{ user.avatar }}" alt="Avatar" class="avatar">
            </div>
        {% endif %}
        <div class="form-container">
            {% csrf_token %}
            {{ edit_form }}
            {{ profile_form }}
            <button type="submit" class="submit-button">Update</button>
        </div>
    </form>

{% endblock content %}
