{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <h1 class="hero-title">Login Page</h1>
    </div>
{% endblock menu %}

{% block content %}

    {% for _ in "xxx" %}
        <br>
    {% endfor %}

    <form action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ login_form.as_p }}
        <br>
        <input type="submit" value="Submit">
    </form>

    {% for _ in "xxxxx" %}
        <br>
    {% endfor %}

    <a href="{% url 'auth:register' %}" style="color: red">Don't have an account?</a>

    {% for _ in "xx" %}
        <br>
    {% endfor %}

{% endblock content %}
