{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <h1 class="hero-title">Register User Page</h1>
    </div>
{% endblock menu %}

{% block content %}

    <form action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        <div class="form-container">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="submit-button">Register</button>
        </div>
    </form>

{% endblock content %}
