{% extends 'adminapp/base.html' %}

{% block content %}
    <ul class="list-group list-group-flush mt-5 mx-auto col-10">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h2>Users</h2>
            <a class="btn btn-success" href="{% url 'admin:user_create' %}" role="button">New User</a>
        </li>

        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'admin:user_read' pk=user.pk %}" class="text-dark">
                    {{ user }} {% if not user.is_active %}<span class="badge badge-dark">Not Active</span>{% endif %}
                </a>
                <span>
                    <a class="btn btn-warning" href="{% url 'admin:user_update' pk=user.pk %}" role="button"> Edit </a>
                    <a class="btn btn-danger {% if not user.is_active %}disabled{% endif %}" href="{% url 'admin:user_delete' pk=user.pk %}" role="button">Delete</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}