{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <h1 class="hero-title">Contact Us</h1>
    </div>
{% endblock menu %}

{% block content %}
    <div class="location">
        <div class="location-1">
            <i class="fas fa-map-marker-alt fa-5x"></i>
            <h4>California</h4>
            <div class="contacts">
                <h5>Phone:</h5>
                <p>1900 - 1234 - 5678</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>info@interior.com</p>
            </div>
            <div class="contacts">
                <h5>Address:</h5>
                <p>12 W 1st St, 90001 Los Angeles, California</p>
            </div>
        </div>
        <div class="location-1">
            <i class="fas fa-map-marker-alt fa-5x"></i>
            <h4>California</h4>
            <div class="contacts">
                <h5>Phone:</h5>
                <p>1900 - 1234 - 5678</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>info@interior.com</p>
            </div>
            <div class="contacts">
                <h5>Address:</h5>
                <p>12 W 1st St, 90001 Los Angeles, California</p>
            </div>
        </div>
        <div class="location-1">
            <i class="fas fa-map-marker-alt fa-5x"></i>
            <h4>California</h4>
            <div class="contacts">
                <h5>Phone:</h5>
                <p>1900 - 1234 - 5678</p>
            </div>
            <div class="contacts">
                <h5>Email</h5>
                <p>info@interior.com</p>
            </div>
            <div class="contacts">
                <h5>Address:</h5>
                <p>12 W 1st St, 90001 Los Angeles, California</p>
            </div>
        </div>
    </div>
{% endblock content %}

