{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="slider padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html' %}
        <div class="slider-text">
            <h4 class="trending">TRENDING</h4>
            <h2 class="fishnet">Fishnet Chair</h2>
            <p class="slider-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                powder-coated black </p>
            <a class="button" href="#">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
        </div>
        <div class="slider-pagination">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </div>
{% endblock menu %}

{% block content %}
    {% include 'mainapp/includes/inc_featured_and_new_products.html' %}
    {% include 'mainapp/includes/inc_promo_products.html' %}
    {% include 'mainapp/includes/inc_trending_products.html' %}
    {% include 'mainapp/includes/inc_hot_deal_products.html' %}
    {% include 'mainapp/includes/inc_exclusive_products.html' %}
    {% include 'mainapp/includes/inc_mobile_app_section.html' %}
{% endblock content %}
