{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/inc_site_navigation.html'  %}
        <h1 class="hero-title">Our Products Range</h1>
    </div>

{% endblock menu %}



{% block content %}
    <div id="categories"></div>
    <div class="product-list-ajax">
        {% include 'mainapp/includes/inc_products_list.html' %}
    </div>
    {% include 'mainapp/includes/inc_promo_products.html' %}
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/main_products_script.js' %}" charset="utf-8"></script>
{% endblock js %}
