{% extends 'adminapp/base.html' %}

{% block content %}
    <ul class="list-group list-group-flush mt-5 mx-auto col-10">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h2 class="text-primary">Category: {{ category }} {% if not category.is_active %}<span class="badge badge-dark">Not Active</span>{% endif %}</h2>
            <span>
                <a class="btn btn-warning" href="{% url 'admin:category_update' pk=category.pk %}" role="button"> Edit </a>
                <a class="btn btn-danger {% if not category.is_active %}disabled{% endif %}" href="{% url 'admin:category_delete' pk=category.pk %}" role="button">Delete</a>
            </span>
        </li>
    </ul>

    <div class="mt-5 mb-3 mx-auto col-10">
        <h5>Products in category:</h5>
    </div>

    <ul class="list-group list-group-flush mx-auto col-10">
        {% for product in products %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'admin:product_read' pk=product.pk %}" class="text-dark">
                    {{ product.name }}
                </a>
                <a class="btn btn-primary" href="{% url 'admin:product_read' pk=product.pk %}" role="button">View</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}